# files
/.project

# ignore generated KCPSM6/opbasm files
psm/**/*.log
psm/**/*.fmt

# ignore generated netlist files
/netlist/**/*.*
!/netlist/**/*.cgp
!/netlist/**/*.cgc
!/netlist/**/*.xco
!/netlist/**/*.vhdl


UARTServer/bin/
UARTServer/obj/
Assembler/KCPSM6_session_log.txt
Open PicoBlaze Assembler/__pycache__/
Open PicoBlaze Assembler/build/
Open PicoBlaze Assembler/setuptools-5.1-py3.4.egg
Open PicoBlaze Assembler/setuptools-5.1.zip
Open PicoBlaze Assembler/opbasm.egg-info/

# white list
!/**/.publish
